@font-face {
  font-family: charter;
  src: url("../assets/fonts/charter-regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "charter italic";
  src: url("../assets/fonts/charter-italic.otf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url("../assets/fonts/charter-bold.otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url("../assets/fonts/charter-bold-italic.otf");
  font-style: italic;
  font-weight: bold;
}
:root {
  font-size: 16px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

body {
  color: var(--gray30);
  /*font-family: charter;*/
  font-family: "Roboto", sans-serif;
}
a {
  color: var(--gray30);
}

header {
  font-size: 14px;
  color: var(--gray10);
}
header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}
nav details summary {
  font-weight: bold;
}
h1 {
  font-size: 60px;
}
hr {
  margin: 64px 0;
}
h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}
h3 {
  font-size: 1.5rem;
  margin: 16px 0 24px;
  font-weight: normal;
}
pre {
  background: #fec62e;
}
blockquote {
  margin: 32px 0;
}
.hero {
  background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url("../assets/img/pattern.png");
  height: 350px;
}
.section-content ol li {
  line-height: 24px;
}
.section-content ul li {
  margin-bottom: 16px;
}
.section-content + hr {
  display: none;
}
.section-content img {
  margin-top: 40px;
}
.section-content {
  counter-reset: titleList;
  margin-top: 164px;
}
.section-content:first-of-type {
  background: red;
  margin: 0;
.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList);
}
.section-content h3::after {
  content: "";
  width: 32px;
  height: 4px;
  background-color: var(--gray30);
  display: inline-block;
}
